body {
    background: #201b2c;
    font-family: 'Poppins', sans-serif;
}

.container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: var(--primary-color);
    background-color: #2f2841;
}

.container .form {
    padding: 24px 44px;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.button {
    width: 100%;
    height: 36px;
    border-style: none;
    border-radius: 22px;
    border: 2px solid;
    background-color: transparent;
    font-size: 1rem;
    font-weight: 800;
    color: var(--primary-color);
    cursor: pointer;
}

.input {
    width: 94%;
    margin-top: 20px;
    margin-bottom: 44px;
    padding: 6px;
}

.text {
    text-align: center;
    font-size: 1em;
    margin-top: 24p;
}

.mobile-text {
    color: #ffffff;
    text-decoration: none;
}

.alert {
    color: #ffffff;
    text-align: center;
    padding-top: 20px;
}